<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.todoapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TodoApp</name>
    <description>
        A modern todo application built with React and Cordova for mobile devices.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    
    <!-- Preferences -->
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="android-minSdkVersion" value="22"/>
    <preference name="android-targetSdkVersion" value="36"/>
    <preference name="StatusBarOverlaysWebView" value="true"/>
    <preference name="StatusBarBackgroundColor" value="#2196f3"/>
    <preference name="StatusBarStyle" value="lightcontent"/>
    
    <!-- Permissions -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    

    <icon src="res/android/icon-36-ldpi.png" density="ldpi" />
    <icon src="res/android/icon-48-mdpi.png" density="mdpi" />
    <icon src="res/android/icon-72-hdpi.png" density="hdpi" />
    <icon src="res/android/icon-96-xhdpi.png" density="xhdpi" />
   
    
    <!-- Plugins -->
    <plugin name="cordova-plugin-device" spec="^2.0.3" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.2" />
    <!-- cordova-plugin-whitelist is deprecated and no longer needed -->
    
    <!-- Access rules -->
    <access origin="*" />
</widget>
